name: Verifies PR are ready for merge

on:
  pull_request:
    branches:
      - main

jobs:
  verify-devcontainer:
    uses: project-origin/.github/.github/workflows/reusable-verify-devcontainer.yaml@a1a7a739e98b68d9b183af7ad7472b2ece460747

  verify-code:
    uses: project-origin/.github/.github/workflows/reusable-verify-code.yaml@a1a7a739e98b68d9b183af7ad7472b2ece460747

  verify-renovate:
    uses: project-origin/.github/.github/workflows/reusable-verify-renovate.yaml@a1a7a739e98b68d9b183af7ad7472b2ece460747

  verify-build-nuget:
    uses: project-origin/.github/.github/workflows/reusable-build-nuget-package.yaml@a1a7a739e98b68d9b183af7ad7472b2ece460747
    with:
      version: 0.0.1
      configuration: Release
      nuget_artifact: nuget-packages
      project: .
