name: Verifies PR are ready for merge

on:
  pull_request:
    branches:
      - main

jobs:
  verify-devcontainer:
    uses: project-origin/.github/.github/workflows/reusable-verify-devcontainer.yaml@ea1e6b55f91bb9905d0e7dc98e61e86fb4373a47

  verify-code:
    uses: project-origin/.github/.github/workflows/reusable-verify-code.yaml@ea1e6b55f91bb9905d0e7dc98e61e86fb4373a47

  verify-renovate:
    uses: project-origin/.github/.github/workflows/reusable-verify-renovate.yaml@ea1e6b55f91bb9905d0e7dc98e61e86fb4373a47

  verify-build-nuget:
    uses: project-origin/.github/.github/workflows/reusable-build-nuget-package.yaml@ea1e6b55f91bb9905d0e7dc98e61e86fb4373a47
    with:
      version: 0.0.1
      configuration: Release
      nuget_artifact: nuget-packages
      project: .
