name: Verifies PR are ready for merge

on:
  pull_request:
    branches:
      - main

jobs:
  verify-devcontainer:
    uses: project-origin/.github/.github/workflows/reusable-verify-devcontainer.yaml@05fbceaed615acc8a01674f2ca471d43f9f84dee

  verify-code:
    uses: project-origin/.github/.github/workflows/reusable-verify-code.yaml@05fbceaed615acc8a01674f2ca471d43f9f84dee

  verify-renovate:
    uses: project-origin/.github/.github/workflows/reusable-verify-renovate.yaml@05fbceaed615acc8a01674f2ca471d43f9f84dee

  verify-build-nuget:
    uses: project-origin/.github/.github/workflows/reusable-build-nuget-package.yaml@05fbceaed615acc8a01674f2ca471d43f9f84dee
    with:
      version: 0.0.1
      configuration: Release
      nuget_artifact: nuget-packages
      project: .
