name: Verifies PR are ready for merge

on:
  pull_request:
    branches:
      - main

jobs:
  verify-devcontainer:
    uses: project-origin/.github/.github/workflows/reusable-verify-devcontainer.yaml@d89b319332d8f0207f29f08cb4589e01f8eda06f

  verify-code:
    uses: project-origin/.github/.github/workflows/reusable-verify-code.yaml@d89b319332d8f0207f29f08cb4589e01f8eda06f

  verify-renovate:
    uses: project-origin/.github/.github/workflows/reusable-verify-renovate.yaml@d89b319332d8f0207f29f08cb4589e01f8eda06f

  verify-build-nuget:
    uses: project-origin/.github/.github/workflows/reusable-build-nuget-package.yaml@d89b319332d8f0207f29f08cb4589e01f8eda06f
    with:
      version: 0.0.1
      configuration: Release
      nuget_artifact: nuget-packages
      project: .
