name: Verifies PR are ready for merge

on:
  pull_request:
    branches:
      - main

jobs:
  verify-devcontainer:
    uses: project-origin/.github/.github/workflows/reusable-verify-devcontainer.yaml@652ffd24891d2ca97f491c96e72a024fd1ee1dea

  verify-code:
    uses: project-origin/.github/.github/workflows/reusable-verify-code.yaml@652ffd24891d2ca97f491c96e72a024fd1ee1dea

  verify-renovate:
    uses: project-origin/.github/.github/workflows/reusable-verify-renovate.yaml@652ffd24891d2ca97f491c96e72a024fd1ee1dea

  verify-build-nuget:
    uses: project-origin/.github/.github/workflows/reusable-build-nuget-package.yaml@652ffd24891d2ca97f491c96e72a024fd1ee1dea
    with:
      version: 0.0.1
      configuration: Release
      nuget_artifact: nuget-packages
      project: .
