name: Verifies PR are ready for merge

on:
  pull_request:
    branches:
      - main

jobs:
  verify-devcontainer:
    uses: project-origin/.github/.github/workflows/reusable-verify-devcontainer.yaml@c7ad2496bc45a789860e10cdeb4435159113d386

  verify-code:
    uses: project-origin/.github/.github/workflows/reusable-verify-code.yaml@c7ad2496bc45a789860e10cdeb4435159113d386

  verify-renovate:
    uses: project-origin/.github/.github/workflows/reusable-verify-renovate.yaml@c7ad2496bc45a789860e10cdeb4435159113d386

  verify-build-nuget:
    uses: project-origin/.github/.github/workflows/reusable-build-nuget-package.yaml@c7ad2496bc45a789860e10cdeb4435159113d386
    with:
      version: 0.0.1
      configuration: Release
      nuget_artifact: nuget-packages
      project: .
