name: Verifies PR are ready for merge

on:
  pull_request:
    branches:
      - main

jobs:
  verify-devcontainer:
    uses: project-origin/.github/.github/workflows/reusable-verify-devcontainer.yaml@29a55e6dc0d53c2d1bf9bf9e44baeee66d6a6be6

  verify-code:
    uses: project-origin/.github/.github/workflows/reusable-verify-code.yaml@29a55e6dc0d53c2d1bf9bf9e44baeee66d6a6be6

  verify-renovate:
    uses: project-origin/.github/.github/workflows/reusable-verify-renovate.yaml@29a55e6dc0d53c2d1bf9bf9e44baeee66d6a6be6

  verify-build-nuget:
    uses: project-origin/.github/.github/workflows/reusable-build-nuget-package.yaml@29a55e6dc0d53c2d1bf9bf9e44baeee66d6a6be6
    with:
      version: 0.0.1
      configuration: Release
      nuget_artifact: nuget-packages
      project: .
