name: Verifies PR are ready for merge

on:
  pull_request:
    branches:
      - main

jobs:
  verify-devcontainer:
    uses: project-origin/.github/.github/workflows/reusable-verify-devcontainer.yaml@79ebfe86d111914219e66515cf6623015310def7

  verify-code:
    uses: project-origin/.github/.github/workflows/reusable-verify-code.yaml@79ebfe86d111914219e66515cf6623015310def7

  verify-renovate:
    uses: project-origin/.github/.github/workflows/reusable-verify-renovate.yaml@79ebfe86d111914219e66515cf6623015310def7

  verify-build-nuget:
    uses: project-origin/.github/.github/workflows/reusable-build-nuget-package.yaml@79ebfe86d111914219e66515cf6623015310def7
    with:
      version: 0.0.1
      configuration: Release
      nuget_artifact: nuget-packages
      project: .
