name: Verifies PR are ready for merge

on:
  pull_request:
    branches:
      - main

jobs:
  verify-devcontainer:
    uses: project-origin/.github/.github/workflows/reusable-verify-devcontainer.yaml@6c6c1590bd1a804078dc8087d9e4150221697326

  verify-code:
    uses: project-origin/.github/.github/workflows/reusable-verify-code.yaml@6c6c1590bd1a804078dc8087d9e4150221697326

  verify-renovate:
    uses: project-origin/.github/.github/workflows/reusable-verify-renovate.yaml@6c6c1590bd1a804078dc8087d9e4150221697326

  verify-build-nuget:
    uses: project-origin/.github/.github/workflows/reusable-build-nuget-package.yaml@6c6c1590bd1a804078dc8087d9e4150221697326
    with:
      version: 0.0.1
      configuration: Release
      nuget_artifact: nuget-packages
      project: .
