name: Verifies PR are ready for merge

on:
  pull_request:
    branches:
      - main

jobs:
  verify-devcontainer:
    uses: project-origin/.github/.github/workflows/reusable-verify-devcontainer.yaml@8f08922740bf507d9826f48b042ddc279018f517

  verify-code:
    uses: project-origin/.github/.github/workflows/reusable-verify-code.yaml@8f08922740bf507d9826f48b042ddc279018f517

  verify-renovate:
    uses: project-origin/.github/.github/workflows/reusable-verify-renovate.yaml@8f08922740bf507d9826f48b042ddc279018f517

  verify-build-nuget:
    uses: project-origin/.github/.github/workflows/reusable-build-nuget-package.yaml@8f08922740bf507d9826f48b042ddc279018f517
    with:
      version: 0.0.1
      configuration: Release
      nuget_artifact: nuget-packages
      project: .
