name: Verifies PR are ready for merge

on:
  pull_request:
    branches:
      - main

jobs:
  verify-devcontainer:
    uses: project-origin/.github/.github/workflows/reusable-verify-devcontainer.yaml@04a04dddb260813feef09e23bfab89af02d736b5

  verify-code:
    uses: project-origin/.github/.github/workflows/reusable-verify-code.yaml@04a04dddb260813feef09e23bfab89af02d736b5

  verify-renovate:
    uses: project-origin/.github/.github/workflows/reusable-verify-renovate.yaml@04a04dddb260813feef09e23bfab89af02d736b5

  verify-build-nuget:
    uses: project-origin/.github/.github/workflows/reusable-build-nuget-package.yaml@04a04dddb260813feef09e23bfab89af02d736b5
    with:
      version: 0.0.1
      configuration: Release
      nuget_artifact: nuget-packages
      project: .
