name: Verifies PR are ready for merge

on:
  pull_request:
    branches:
      - main

jobs:
  verify-devcontainer:
    uses: project-origin/.github/.github/workflows/reusable-verify-devcontainer.yaml@cc8a2fd46862546afc01db07b77a693dbd7753c7

  verify-code:
    uses: project-origin/.github/.github/workflows/reusable-verify-code.yaml@cc8a2fd46862546afc01db07b77a693dbd7753c7

  verify-renovate:
    uses: project-origin/.github/.github/workflows/reusable-verify-renovate.yaml@cc8a2fd46862546afc01db07b77a693dbd7753c7

  verify-build-nuget:
    uses: project-origin/.github/.github/workflows/reusable-build-nuget-package.yaml@cc8a2fd46862546afc01db07b77a693dbd7753c7
    with:
      version: 0.0.1
      configuration: Release
      nuget_artifact: nuget-packages
      project: .
