name: Verifies PR are ready for merge

on:
  pull_request:
    branches:
      - main

jobs:
  verify-devcontainer:
    uses: project-origin/.github/.github/workflows/reusable-verify-devcontainer.yaml@c1848015d14d9e63516940617ae939a7bff8cf65

  verify-code:
    uses: project-origin/.github/.github/workflows/reusable-verify-code.yaml@c1848015d14d9e63516940617ae939a7bff8cf65

  verify-renovate:
    uses: project-origin/.github/.github/workflows/reusable-verify-renovate.yaml@c1848015d14d9e63516940617ae939a7bff8cf65

  verify-build-nuget:
    uses: project-origin/.github/.github/workflows/reusable-build-nuget-package.yaml@c1848015d14d9e63516940617ae939a7bff8cf65
    with:
      version: 0.0.1
      configuration: Release
      nuget_artifact: nuget-packages
      project: .
