name: Verifies PR are ready for merge

on:
  pull_request:
    branches:
      - main

jobs:
  verify-devcontainer:
    uses: project-origin/.github/.github/workflows/reusable-verify-devcontainer.yaml@5482a44c91bf6301c91205397d0d59667bbb8758

  verify-code:
    uses: project-origin/.github/.github/workflows/reusable-verify-code.yaml@5482a44c91bf6301c91205397d0d59667bbb8758

  verify-renovate:
    uses: project-origin/.github/.github/workflows/reusable-verify-renovate.yaml@5482a44c91bf6301c91205397d0d59667bbb8758

  verify-build-nuget:
    uses: project-origin/.github/.github/workflows/reusable-build-nuget-package.yaml@5482a44c91bf6301c91205397d0d59667bbb8758
    with:
      version: 0.0.1
      configuration: Release
      nuget_artifact: nuget-packages
      project: .
