name: Build release artifacts

on:
  workflow_dispatch: {}
  release:
    types: [published]

env:
  configuration: Release
  path: src/ProjectOrigin.HierarchicalDeterministicKeys

jobs:
  define-version:
    uses: project-origin/.github/.github/workflows/reusable-tag-version.yaml@04a04dddb260813feef09e23bfab89af02d736b5

  build-nuget-package:
    needs:
      - define-version
    uses: project-origin/.github/.github/workflows/reusable-build-nuget-package.yaml@04a04dddb260813feef09e23bfab89af02d736b5
    with:
      version: ${{ needs.define-version.outputs.version }}
      configuration: Release
      nuget_artifact: nuget-packages
      project: .

  publish-nuget-package:
    needs:
      - build-nuget-package
    uses: project-origin/.github/.github/workflows/reusable-publish-nuget-artifacts.yaml@04a04dddb260813feef09e23bfab89af02d736b5
    with:
      nuget_artifact: nuget-packages
    secrets:
      nuget_api_key: ${{ secrets.NUGET_API_KEY }}
