name: SonarCloud

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  analyse:
    uses: project-origin/.github/.github/workflows/reusable-sonarcloud.yaml@c1848015d14d9e63516940617ae939a7bff8cf65
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
