name: SonarCloud

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  analyse:
    uses: project-origin/.github/.github/workflows/reusable-sonarcloud.yaml@53676612e1166f3c96f4c9e6d3f45ffefc33259d
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
